# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# SQLite
bismart.db
bismart.db-shm
bismart.db-wal

# macOS
.DS_Store

# Flutter
bismart_flutter/.dart_tool/
bismart_flutter/.idea/
bismart_flutter/.packages
bismart_flutter/build/
bismart_flutter/.flutter-plugins
bismart_flutter/.flutter-plugins-dependencies
bismart_flutter/android/.gradle/
bismart_flutter/android/local.properties
bismart_flutter/ios/Pods/
bismart_flutter/ios/.symlinks/
bismart_flutter/.pub-cache/
bismart_flutter/.pub/
*.iml
