*.db
*.db-shm
*.db-wal
__pycache__/
*.pyc
bismart_flutter/build/android/
bismart_flutter/build/ios/
bismart_flutter/build/linux/
bismart_flutter/build/macos/
bismart_flutter/build/windows/
bismart_flutter/.dart_tool/
bismart_flutter/.packages
bismart_flutter/.flutter-plugins
bismart_flutter/.flutter-plugins-dependencies
.DS_Store
